.panel {
  height: 100vh;
}

.logo {
  width: 80%;
  height: auto;
  padding: 10% 0;
}
nav {
  width: 80%;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  /* font-size: 1vw; */
}

nav ul {
  padding-left: 0 !important;
}

nav li {
  list-style: none;
  padding: 10px;
}


.homeGroup {
  background-color: var(--yellow);
  height: 105px;
  border-radius: 33px;
  transition: 0.5s ease;
}

.homeGroup a {
  color: var(--gray);
  border-radius: 33px;
  transition: 0.5s ease;
}

.homeGroup a:hover {
  color: var(--yellow-gold);
}

.homeGroup:hover {
  background-color: rgba(236, 236, 236, 0.925);
  height: 105px;
  color: var(--yellow-gold);
  cursor: pointer;
}

.otherGroup {
  margin-top: -7.5vh;
  background-color: var(--gray);
  border-radius: 33px;
  padding: 25px 0px;
  transition: 0.5s ease-in-out;
  color: var(--white);
}

.otherGroup a {
  color: var(--white);
  padding: 1vh 0;
  transition: 0.5s ease-in-out;
}

.otherGroup a:hover {
  color: var(--yellow);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 5px;
  border-left: solid 10px var(--yellow);
}

.logoutButton {
  position: absolute;
  bottom: 0px;
  width: 16.666vw;
  display: flex;
  justify-content: center;
  padding: 0.5em 0em;
  align-items: center;
}
.logoutButton button {
  position: static;
  padding: 0.5em 0em;
  width: 80%;
  margin: 0 auto;
  transition: 0.5s ease;
}

.logoutButton button:hover {
  background-color: rgba(236, 236, 236, 0.925) !important;
  border-radius: 33px;
  color: var(--yellow-gold);
  cursor: pointer;
}
