.panel {
  height: 100vh;
}

.logo {
  width: 80%;
  height: auto;
  padding: 10% 0;
}
nav {
  width: 80%;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  /* font-size: 1vw; */
}

nav ul {
  padding-left: 0 !important;
}

nav li {
  list-style: none;
  margin-top: 0.9rem;
}

.homeGroup {
  background-color: var(--yellow);
  height: 105px;
  border-radius: 33px;
}

.homeGroup a {
  color: var(--gray);
}

.homeGroup a:hover {
  opacity: 80%;
  color: var(--gray);
}

.otherGroup {
  margin-top: -7.5vh;
  background-color: var(--gray);
  border-radius: 33px;
  padding: 25px 0px;
}

.otherGroup a:hover {
  color: var(--yellow);
}

.otherGroup a:hover {
  border-left: solid 10px var(--light-yellow);
  height: auto;
}

.otherGroup a {
  color: var(--white);
  padding: 1vh 0;
}

.logoutButton {
  position: absolute;
  bottom: 0px;
  width: 16.666vw;
  display: flex;
  justify-content: center;
  padding: 0.5em 0em;
  align-items: center;
}
.logoutButton button {
  position: static;
  padding: 0.5em 0em;
  width: 80%;
  margin: 0 auto;
}
