.formButtons {
    display: flex;
    justify-content: center;
  }

.btnSearch{
    background-color: var(--background);
    border: 0px;
    border-radius: 33px;
    width: 3vw;
    height: 3vw;
    margin-top: 0.5vh;
}

.teste{
    margin: 0% !important;

}