* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../assets/fonts/GothamRounded-Book.otf");
}

:root {
  --background: #f9fafb;
  --white: #fff;
  --black: #000;
  --gray: #495458;
  --text: #495458;
  --title: #2e384d;
  --yellow: #f5d872;
  --yellow-gold: #c19e22;
  --light-brown: #a57948;
  --light-yellow: #f8eecc;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  background-color: var(--gray);
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 10px;

  transition: 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow-gold);
}

body {
  margin: 0;
  font-family: "Comfortaa" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content {
  border: none !important;
  border-radius: 1.3rem !important;
}

/* Material */

.MuiFormLabel-root {
  color: var(--gray) !important;
}

.MuiFormControl-root {
  width: 100% !important;
}

.MuiInputBase-root {
  font-family: "Comfortaa" !important;
}

.MuiInput-underline:before {
  border-bottom: 2px solid var(--yellow) !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid var(--yellow-gold) !important;
}

.MuiInputBase-input.Mui-disabled {
  opacity: 0.4 !important;
}

.MuiInputBase-input.Mui-disabled {
  background-color: #edeeef !important;
  color: var(--gray) !important;
}
