.userPhotoWrapper {
    padding: 13% 0 8% 0;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
  .userPhotoWrapper .userFoto {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: 0px solid var(--gray);
    margin: 0 auto;
    object-fit: cover;
  }
  
  .teste{
    border-radius: 10px;
    background-color: rgb(39, 187, 192);
    display: flex;
    z-index: 1;
  }

  .bloco{
    border-radius: 20px;
    background-color: rgb(201, 21, 21);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row;
  }

  .text{
    background-color: aqua;
    margin-left: 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .text p{
      font-size: 12px;
      padding: 0px;
      margin: 0px;
  }