/* Gerais */

section {
  background-color: var(--background);
}

.userPhotoWrapper {
  padding: 13% 0;
  display: flex;
  justify-content: center;
}

.userPhotoWrapper .userFoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--gray);
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10%;
}

.userInfoWrapper .userNome {
  font-weight: bold;
  color: var(--yellow-gold);
  font-size: 24px;
}

.userInfoWrapper .userEmail {
  font-size: 14px;
  text-transform: lowercase;
  color: var(--gray);
  margin-bottom: 5%;
}

.userInfoWrapper .userCargo,
.userDepartamento {
  color: var(--gray);
  font-weight: bold;
  font-size: 14px;
}

.metricasWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.metricasWrapper .text {
  font-weight: bold;
  color: var(--yellow-gold);
  font-size: 24px;
  margin: 10% 0;
}

.aprendizes,
.estagiarios,
.efetivacoes {
  font-size: 20px;
  color: var(--gray);
  margin-bottom: 10%;

  display: flex;
  justify-content: space-around;
}

.aprendizes strong,
.estagiarios strong,
.efetivacoes strong {
  font-size: 24px;
  /* font-weight: bold; */
  color: var(--light-brown);
}
